USE [OMSA]
GO
/****** Object:  View [dbo].[Cliente]    Script Date: 18/01/2020 13:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[Cliente]
AS
SELECT distinct 
       vcc.CodCliente As Certificado, 
       vcc.RazSocial As [Razon Social],
       vcc.NumDocume As [DNI],
       scr.Descripcion As Rubro,
       vccf.Concepto As Concepto,
       vcca.Apellido + ', ' + vcca.Nombre Beneficiario, 
       vcda.DocNumero As [DNI Beneficiario],
       DATEDIFF(YY,vcca.FecNacim,GETDATE())Edad,
       vcv.NomVended As Vendedor,
       CASE WHEN vcc.CueBloque = 'Si' AND  vcc.CueInhabi = 'Si' THEN 'Inhabilitado' ELSE 'Habilitado' END Estado,
       vcc.Observaciones,
       vcc.Telefono,
       vcc.Calle,
       vcda.ValorUni ValorServicio,
       (select sum(vcda.ValorUni)
		from vcclidebauto vcda 
		where vcc.CodCliente = vcda.CodCliente and vccf.CodConFac = vcda.CodConFac
		/*and vcda.DocNumero = vcc.NumDocume*/) TotalServicios
FROM vcClient vcc
JOIN vcCliDebAuto vcda ON vcda.CodCliente = vcc.CodCliente
join vcConFac vccf ON vccf.CodConFac = vcda.CodConFac
join scrubros scr on scr.CodRubro = vccf.CodRubro
join vcVended vcv on vcc.CodVended = vcv.CodVended
left join vcClieAdhe vcca on vcda.DocNumero = vcca.DocNumero






GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "vcc"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 227
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vcda"
            Begin Extent = 
               Top = 6
               Left = 265
               Bottom = 114
               Right = 454
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vcca"
            Begin Extent = 
               Top = 6
               Left = 492
               Bottom = 114
               Right = 681
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vccf"
            Begin Extent = 
               Top = 6
               Left = 719
               Bottom = 114
               Right = 908
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "scr"
            Begin Extent = 
               Top = 114
               Left = 38
               Bottom = 222
               Right = 227
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vcv"
            Begin Extent = 
               Top = 114
               Left = 265
               Bottom = 222
               Right = 454
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Cliente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Cliente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Cliente'
GO
